*{
    box-sizing: border-box;
    margin:0;
}

body{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    overflow-y: scroll;
    overflow-x:hidden;
}

.nav-link{
    margin-left:5px;
    font-weight: 400;
    font-size: 14px;
    border-bottom: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
}


main{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 4;
}

.nav-title{
    background-color: white;
    position: sticky;
    font-weight: 700;
    font-size: 20px;
    padding:20px;
    top: 0;
}

.main-section{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.main-section p{
    margin: 20px 0px;
}

.main-section code{
    background-color: rgb(233, 229, 229);
    padding: 10px;
    margin: 0px 30px;
}

.main-section ul li{
    margin: 0px 0px 10px 30px;
}

#main-doc{
    display:flex;
    flex-direction: column;
}

.pill{
    font-family: monospace;
    padding: 3px;
    background-color: rgb(233, 229, 229);
    border-radius: 10mm;
}

@media only screen and (max-width: 932px){
    body{
        display: inline;
    }
    nav{
        margin: 10px;
        height: 40vh;
        border: 1px solid black;
    }
    .nav-link{
        margin-left:0px;
        font-weight: 400;
        font-size: 16px;
        border-bottom: 1px solid black;
        padding: 10px;
        text-decoration: none;
        color: black;
    }
    main{
        height: 55vh;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}